*
{
    margin: 0;
    padding: 0;
}
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
     margin-right: auto;
}
/*-----cool scroller-----*/
body::-webkit-scrollbar
{
    width: 1vh;
}
body::-webkit-scrollbar-track
{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb
{
    background: #ffffff;
}
/*-----navigation-----*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    width: 12vh;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007AFF!important;
}
.navbar
{
    background:#FFFFFF;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 24px;
}
/*-----Products-----*/
#Surface
{
    background-color: #FFFFFF;
	padding-top: 15vh;
}
#TEXT h1 h2
{
    color: #333333;
    text-align: center;
}
#TEXT p
{
    color: #707070;
    text-align: left;
}
/*-----Buttons-----*/
.active:active {
  color: #007AFF1A;
}
.focus:focus {
  color: #007AFF1A;
}
:target {
  color: #007AFF1A;
}
/*-----Footer-----*/
#BG
{
    max-width: 100%;
    background-color: #2b2828;
}
#Label1
{
    color: #ffffff;
    text-align: left;
}